*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color:#00ffcc;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 100px;
}
.nav-link a{
text-decoration: none;
color: #fff;
font-size: 16px;
position: relative;
}

.nav-link a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s ease;
    background: #00ffcc;
    width: 0;
  height: 2px;
}

.nav-link a:hover::after{
    width: 100%;
}
