body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0f0f;
}
.glow-neon{
    padding: 15px 40px;
    font-size: 12px;
    color:#fff;
    background:#00ffcc;
    border:none;
    border-radius:  6px;
    box-shadow: 0px 0px 10px #00ffcc;
    cursor: pointer;
    transition: 0.9s ease;
}
.glow-neon:hover{
box-shadow: 0 0 30px #00ffcc,
            0 0 60px #00ffcc;
}
